/* Custom CSS for your landing page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #5871d5;
    color: white;
    padding: 1rem 0;
    text-align: center;
    z-index: 2;
    position: relative;
}

main {
    margin-bottom: 100px;
    z-index: 2;
    position: relative;
}

section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 800px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 2;
    position: relative;
}

h1, h2, h3 {
    color: #333;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

/* Parallax effect */
.parallax {
    background-image: url('/assets/images/ferns-med.jpg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}